name: Build packages
on:
    push:
        paths-ignore:
          - ".docker/**"
          - ".github/**"

defaults:
    run:
        shell: bash

jobs:
    main:
        env:
            PACKAGE: ${{ matrix.PKGS }}
            OBS_AUTH: ${{ secrets.OBS_AUTH }}
            OBS_PROJECT: ${{ secrets.OBS_PROJECT }}
        runs-on: ubuntu-latest
        container: justkdng/aur:latest
        strategy:
            fail-fast: false
            matrix:
                PKGS: [
                        "ungoogled-chromium",
                        "xorgproto-git",
                        "xorg-server-git",
                        "linux-firmware-git",
                        "xf86-video-amdgpu-git",
                        "mongodb",
                        "mongodb44",
                        "mongodb50",
                        "python-stdnum",
                        "libva-vdpau-driver-wayland",
                        "libstdc++5",
                        "gminer-bin",
                        "phoenixminer-bin",
                        "linux-kamakiri",
                        "llvm-git",
                        "mesa-git",
                        "linux-amd-staging-drm-next-git",
                        "python-sphinx-automodapi"
                      ]
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Check changes in package
              run: .github/workflows/check_changes
            - name: Check if package exists
              run: .github/workflows/mirror/check-package-exists
            - name: Prepare environment
              run: .github/workflows/env
            - name: Run prepare()
              run: sudo -u build -EH bash -c .github/workflows/prepare
            - name: Trigger OBS build
              run: .github/workflows/obs_trigger

